<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" >
        <mat-icon>menu</mat-icon>
    </button> -->
    <span>Codeiti Testing</span>
    <span class="example-spacer"></span>

</mat-toolbar>

<mat-toolbar>

    <div class="example-button-row">

        <a mat-button routerLink="/dashboard">Dashbaord</a>
        <a mat-button routerLink="/collection">Collection</a>
    </div>

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
</mat-toolbar>
